{{ define "head" }}
    {{/* <style>
    ul.list li { padding: 5px 0px; }
    </style> */}}
    {{/* <link rel="stylesheet" href="/static/docs/style.css" type="text/css"> */}}
{{ end }}

{{ define "menu-line-2" }}{{ end }}

{{ define "content" }}

{{/* <script type="text/javascript">
    window.onload=function() {
        setInterval(function() {window.location.reload();}, 60000);
    }
</script> */}}

<div class="row">
    <div class="col-md-12">
        {{ .Body }}
    </div>  
</div>
{{ end }}