{{ define "head" }}
<script type='text/javascript' src='/static/js/jquery-3.7.1.min.js'></script>

<script type='text/javascript' src='/static/js/jquery.tablesorter.min.js'></script>
<script type='text/javascript' src='/static/js/jquery.tablesorter.widgets.min.js'></script>

<script type='text/javascript' src="/static/js/chartjs/chart.js"></script>
<script type='text/javascript' src="/static/js/chartjs/date-fns.js"></script>
<script type='text/javascript' src="/static/js/chartjs/chartjs-adapter-date-fns.js"></script>
<script type='text/javascript' src="/static/js/lodash.js"></script>
<script type='text/javascript' src="/static/js/isitsql-charting-1.0.js"></script>

{{ end }}



{{ define "menu-line-2" }}{{ end }}

{{ define "content" }}

<script type="text/javascript">
    $(function(){
        $("#sessions").tablesorter({
            widgets: ["saveSort"],
            dateFormat: "uk"
        });
    });
</script>

<script type="text/javascript">
    window.onload=function() {
        setInterval(function() {window.location.reload();}, 60000);
    }
</script>

<script  type="text/javascript" >
  $(document).ready(
      function() {
        var pathArray = window.location.pathname.split( '/' );
        var serverName = pathArray[2]
        //PrintServerName("test")
        var unixNow = {{ .UnixNow }}
        //console.log("X" + "{{ .UnixNow }}")
        //console.log(serverName)

        //console.log("Generating Waits")
        //GenerateWaitChart(serverName, "waitChartDiv", unixNow)
        //GenerateW2Chart(serverName, "w2ChartDiv", unixNow)

        NewWaitsChart("waits2", serverName, "newW2")
        NewWaitsChart("waits", serverName, "newWaits")
      }
  );
</script>


{{ if .OneServer }}
    <div class="row">
        <div class="col-md-6">
            <h1 title="{{ .OneServer.ServerName }}">{{ .OneServer.DisplayName }}{{ if  ne .OneServer.DisplayName .OneServer.ServerName }}<span style="color:darkgray; vertical-align: baseline; font-size: 75%;"> ({{ .OneServer.ServerName }})</span>{{ end }}
            </h1>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
                    <p>
                <strong>Version:</strong> {{ .OneServer.VersionString }} {{ .OneServer.ProductLevel }} {{ .OneServer.ProductUpdateLevel }} ({{ .OneServer.ProductVersion }}); 
                {{/* <strong>OS:</strong> {{ .OneServer.OSName }} ({{ .OneServer.OSArch }}) */}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
            <strong>Cores: </strong>{{ .OneServer.CpuCount }} core{{ .OneServer.CpuCount | pluralize "s" }}; 
             <strong>Memory:</strong> 
                    Used: {{ .OneServer.SqlServerMemoryKB | kbtostring }} /
                    {{ if .OneServer.MaxMemorySet }} Max:  {{ .OneServer.MaxMemoryKB | kbtostring }} / {{ end }}
                    Physical: {{ .OneServer.PhysicalMemoryKB | kbtostring }}
                    {{ $freepct := int64topct .OneServer.AvailableMemoryKB .OneServer.PhysicalMemoryKB }}
              <strong>OS Free:</strong>   {{ .OneServer.AvailableMemoryKB | kbtostring }} ({{ printf "%.1f" $freepct}}%)
            </p>
        </div>

        <div class="col-md-6">
            {{ with .OneServer }}
                {{ $seconds := divide       .DiskIODelta.SampleMS 1000 }}
                {{ $readVolume := divide    .DiskIODelta.ReadBytes $seconds }}
                {{ $readLatency := divide   .DiskIODelta.ReadStall .DiskIODelta.Reads }}
                {{ $avgRead := divide       .DiskIODelta.ReadBytes .DiskIODelta.Reads}}
                {{ $avgWrite := divide      .DiskIODelta.WriteBytes .DiskIODelta.Writes}}
                {{ $writeVolume := divide   .DiskIODelta.WriteBytes $seconds }}
                {{ $writeLatency := divide  .DiskIODelta.WriteStall .DiskIODelta.Writes }}
                <p>
                    <strong>Reads:</strong> {{ $readVolume | bytes }}/sec; <span style="color:darkgray;">{{ divide .DiskIODelta.Reads $seconds | comma }} iops;  {{ $readLatency }}ms</span>  
                    <strong>Writes:</strong> {{ $writeVolume | bytes }}/sec; <span style="color:darkgray;">{{ divide .DiskIODelta.Writes $seconds | comma }} iops;  {{ $writeLatency }}ms</span>  
                </p>
            {{ end }}
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            {{/* <div id="waitChartDiv" style="height: 400px"></div> */}}
            <div style="height: 400px">
                <p class="chart-title">Server Waits</p>
                <canvas id="newWaits"></canvas>
            </div>
            <div style="padding-left: 5em; padding-right: 2em;">
                <p><strong>Server Waits</strong> are collected from <code>sys.dm_os_wait_stats</code> every minute.
                SQL Server records waits to that DMV at the end of a request.  If a query waits for ten minutes, 
                all ten minutes of the wait will appear at the end.  This can lead to BIG spikes.
                It does capture all waits from sessions and background tasks unless the specific wait
                is excluded.</p>
            </div>
        </div>

        <div class="col-md-6">
            {{/* <div id="w2ChartDiv" style="height: 400px"></div> */}}
            <div style="height: 400px">
                <p class="chart-title">Dynamic Waits</p>
                <canvas id="newW2"></canvas>
            </div>
            <div style="padding-left: 5em; padding-right: 2em;">
                <p><strong>Dynamic Waits</strong> are polled from <code>sys.dm_exec_requests</code> every second.
                This DMV shows any current wait for a request.  Any increased wait time since the previous poll is recorded.
                Every minute, the aggregate wait times are added to the chart.  This only captures waits from active 
                sessions and doesn't collect most background tasks and their waits.  Because it polls every second, small irregular waits
                are missed.  It does get the big ongoing waits which is usually what you want.  This also ignores
                the waits that are excluded.</p>
            </div>
        </div>
    </div>

    {{/* <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"><p style="padding-left: 5em; padding-right: 2em;"><strong>Dynamic Waits</strong> are polled from <code>sys.dm_exec_requests</code> every second.
                This DMV shows any current wait for a request.  Any increased wait time since the previous poll is recorded.
                Every minute, the aggregate wait times are added to the chart.  This only captures waits from active 
                sessions and doesn't collect most background tasks and their waits.  Because it polls every second, small irregular waits
                are missed.  It does get the big ongoing waits which is usually what you want.  This also ignores
                the waits that are excluded.</p></div>
    </div> */}}

    <div class="row">
        <div class="col-md-12">
            {{ $length := len .Sessions }}
            <h2>Active Sessions {{ if $length }}<span style="color:darkgray; vertical-align: baseline; font-size: 75%;">({{$length}})</span>{{ end }} <img src="/static/icons/lightning-charge-fill.svg" title="Activity loads with each page refresh" class="icon" style="vertical-align: middle;"/></h2>
            
            <table class="table" id="sessions">
            <thead>
                <tr>
                    <!--<th>Name</th>-->
                    <th style="text-align: center;">SPID</th>
                    <th style="text-align: center;">Start</th>
                    {{ if .Blocking }}
                        <th style="text-align: center;">Blocking</th>
                        <th style="text-align: center;">Blocker</th>
                    {{end}}
                    <th>Login</th>
                    <th>Wait</th>
                    <th>SQL Statement</th>
                </tr>
            </thead>
            <tbody>
                    
            {{ range .Sessions }}
                <tr>
                <td style="text-align: center;" title='txn_count={{ .OpenTxnCount}}'> {{ .SessionID }} </td>
                <td style="text-align: center;" title='{{ .StartTime.Format  "Mon, 02 Jan 2006  3:04:05 PM" }} server time zone{{if .PercentComplete }} ({{ .PercentComplete }}%){{ end }}'> {{ .RunTimeText }}</td>
                {{ if $.Blocking }}
                    <td style="text-align: center;">{{if .TotalBlocked}}{{.TotalBlocked}}{{end}}</td>
                    <td style="text-align: center;">{{if .HeadBlockerID }}{{.HeadBlockerID}} <span style="color:darkgray;">({{ .BlockerID }})</span>{{ end }}</td>
                {{end }}
                <td title="Host: {{ .HostName }}
Program: {{ .AppName }}
Database: {{ .Database }}">{{ .LoginName }}</td>
                <td title="{{ .WaitResource }}">{{if .WaitType }}{{ .WaitType }} ({{ .WaitTime | mstoshortstring }}){{end}}</td>
                <td>{{ .StatementText }}</td>
                </tr>
            {{ end}}
                    
             </tbody>
            </table>
        </div>
    </div>

{{ else  }}

<div class="row">
        <div class="col-md-6">
            <h1>Server Not Found</h1>
        </div>
        
    </div>

{{ end }}
    

    

{{ end }}