{{ define "head" }}
    <script type='text/javascript' src='/static/js/jquery.tablesorter.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.tablesorter.widgets.min.js'></script>
    <script type='text/javascript' src='/static/js/parser-metric.js'></script>
    <script type='text/javascript' src='/static/js/parser-duration.js'></script> 
{{ end }}


{{ define "menu-line-2" }}
<ul class="nav nav-tabs menu-line-2">
    <li class="nav-item"><a class="nav-link" href="/settings/servers">Servers</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/credentials">Credentials</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
</ul>
{{ end }}


{{ define "content" }}

<script type="text/javascript">

    $(function(){

        $("#list").tablesorter({
            widgets: ["saveSort"],
            dateFormat: "uk"
        });
    });

</script>

<div class="row">
        <div class="col-md-12">
            <h1>Settings - Shared SQL Server Credentials</h1>
            <p><strong><a href="/settings/credentials/add">Add New Credential</a></strong></p>
            <table class="table tablesorter" id="list" style="width: auto;">
                <thead>
                    <tr>
                        <th>Credential Name</th>
                        <th>Login</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {{ range $k2, $v2 := .Credentials }}

                    <tr>
                        <td><a href="/settings/credentials/edit/{{ $v2.Key}}">{{ $v2.Name }}</a></td>
                        <td>{{ $v2.Login  }}</td>
                        <td style="text-align: center;">
                            <a href="/settings/credentials/delete/{{ $v2.Key }}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {{ end }}
            </table>
        </div>
</div>

    

{{ end }}