{{ define "head" }}
    <!--<script type='text/javascript' src='/static/js/jquery.tablesorter.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.tablesorter.widgets.min.js'></script>
    <script type='text/javascript' src='/static/js/parser-metric.js'></script>
    <script type='text/javascript' src='/static/js/parser-duration.js'></script> -->
{{ end }}


{{ define "menu-line-2" }}
<ul class="nav nav-tabs menu-line-2">
    <li class="nav-item"><a class="nav-link" href="/settings/servers">Servers</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/credentials">Credentials</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
</ul>
{{ end }}



{{ define "content" }}


<div class="row">
    <div class="col-md-8">

        <h1>Settings</h1>

        <form class="form-horizontal" method="POST" action="/settings">
            <div class="form-group">
                <label for="pollWorkers" class="col-sm-5 control-label">Concurrent Pollers</label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" id="pollWorkers" placeholder="" name="pollWorkers" value="{{ .Pollers }}" aria-describedby="helpBlock">
                </div>

                <div class="col-sm-7 col-sm-offset-5">
                    <span id="helpBlock" class="help-block">The default is zero.  If zero, the number of concurrent pollers will be 4 * the number of cores.  
                        You can see the number of cores and pollers on the <a href="/info">Info Page</a></span>    
                </div>
            </div>
            
            <div class="form-group">
                <label for="port" class="col-sm-5 control-label">Port</label>
                <div class="col-sm-3">
                <input type="number" class="form-control" id="port" placeholder="" name="port" value="{{ .Port }}"  aria-describedby="helpBlock">
                <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                </div>
            </div>

            <div class="form-group">
                <label for="homePage" class="col-sm-5 control-label">Home Page</label>
                <div class="col-sm-3">
                    <input type="string" class="form-control" id="homePage" placeholder="/" name="homePage" value="{{ .HomePageURL }}"  aria-describedby="helpBlock">
                </div>
                <div class="col-sm-7 col-sm-offset-5">
                <span id="helpBlock" class="help-block">Relative URL of the home page.  
                    The default is "/".  
                    Commonly "/tag/your-tag" or some such.  
                    Tags -> All Servers will list all the servers.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="backupHours" class="col-sm-5 control-label">Expect Full Backup Within (Hours)</label>
                <div class="col-sm-3">
                <input type="number" class="form-control" id="backupHours" placeholder="" name="backupHours" value="{{ .BackupHours }}"  aria-describedby="helpBlock">
                <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                </div>
            </div>

            <div class="form-group">
                <label for="logMinutes" class="col-sm-5 control-label">Expect Log Backup Within (MInutes)</label>
                <div class="col-sm-3">
                <input type="number" class="form-control" id="logMinutes" placeholder="" name="logMinutes" value="{{ .LogBackupMinutes }}"  aria-describedby="helpBlock">
                <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                </div>
            </div>


            <div class="form-group">
                <label for="security" class="col-sm-5 control-label">Setting Page Security Policy</label>
                <div class="col-sm-7">
                    <select class="form-control" name="securityPolicy">
                        <option value="open"  {{if eq .SecurityPolicy "open"}}selected="selected"{{end}} >Save from any client</option>
                        <option value="localhost" {{if eq .SecurityPolicy "localhost"}}selected="selected"{{end}} >Only save from localhost (127.0.0.1)</option>
                    </select>
                </div>

                <div class="col-sm-7 col-sm-offset-5">
                    <span id="helpBlock" class="help-block">If this is set to localhost (the default), you must be on the server, accessing this page
                        via localhost in order to change any settings</span>    
                </div>
            </div>

            <div class="form-group">
                <label for="adminGroup" class="col-sm-5 control-label">Setting Page Admin Group</label>
                <div class="col-sm-5">
                <input type="string" class="form-control" id="adminGroup" placeholder="" name="adminGroup" value="{{ .AdminDomainGroup }}"  aria-describedby="helpBlock">
                </div>

                <div class="col-sm-7 col-sm-offset-5">
                    <span id="helpBlock" class="help-block">If set, members of this domain group can also save settings
                    </span>    
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-default" {{if ne .EnableSave true}}disabled{{end}}>Save</button>
                </div>
            </div>
        </form>

    </div>
</div>



{{ end }}