{{ define "head" }}
{{ end }}


{{ define "menu-line-2" }}

<ul class="nav nav-tabs menu-line-2">
    <li class="nav-item"><a class="nav-link" href="/settings/servers">Servers</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/credentials">Credentials</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
</ul>
{{ end }}



{{ define "content" }}


<div class="row">
    <div class="col-md-6">

        <h1>New Credential</h1>

        <form class="form-horizontal" method="POST" action="/settings/credentials/add">
            <div class="form-group">
                <label for="credentialName" class="col-sm-5 control-label">Credential Name</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="credentialName" placeholder="" name="credentialName">
                </div>
            </div>

            <div class="form-group">
                <label for="login" class="col-sm-5 control-label">Login</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="login" placeholder="" name="login">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-5 control-label">Password</label>
                <div class="col-sm-4">
                <input type="password" class="form-control" id="password" placeholder="" name="password">
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                <button type="submit"  {{if ne .EnableSave true}}disabled{{end}} class="btn btn-default">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>



{{ end }}