{{ define "head" }}
{{ end }}


{{ define "menu-line-2" }}
<ul class="nav nav-tabs menu-line-2">
    <li class="nav-item"><a class="nav-link" href="/settings/servers">Servers</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/credentials">Credentials</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
</ul>
{{ end }}

{{ define "content" }}

<div class="row">
    <div class="col-md-6">

        <h1>DELETE SQL Server Credential</h1>

        <form class="form-horizontal" method="POST" action="/settings/credentials/delete/{{.CredentialKey}}">
            <div class="form-group mt-3">
                <label for="credentialName" class="col-sm-5 control-label">Credential Name</label>
                <div class="col-sm-6">
                <input type="text" disabled class="form-control" id="credentialName" placeholder="" name="credentialName" value="{{ .Credential.Name }}">
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="login" class="col-sm-5 control-label">Login</label>
                <div class="col-sm-6">
                <input type="text" disabled class="form-control" id="login" placeholder="" name="login" value="{{ .Credential.Login }}">
                </div>
            </div>

            <div class="form-group mt-3">
                <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" {{if ne .EnableSave true}}disabled{{end}} class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>

    </div>
</div>



{{ end }}